main {
    z-index: 2;

    max-width: 1438px;
    margin: 0 auto;
    padding: 0px 120px;

    display: grid;
    grid-template-areas:
        "main-article-primary main-article-primary"
        "main-article-secundary aside"
        "box-news aside";
    justify-content: space-between;
    gap: 20px;
}



/* Side icons */
.side-icons {
    position: relative;
    z-index: 3;
    max-width: 1600px;
    margin: 0 auto;
}

.side-icons>menu {
    display: flex;
    justify-content: space-between;
}

.side-social-audio,
.side-social-audio>li,
.side-mode-scroll>li,
.side-social-audio>li>button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.side-social-audio {
    position: fixed;
    bottom: 20px;
    left: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px #0000001A;
    border-radius: 6px;

    padding: 10px;

    list-style: none;
}

.side-social-audio>li>button {
    height: 85px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D1D1D1;
}

.side-mode-scroll {
    position: fixed;
    bottom: 20px;
    right: 40px;
    justify-content: end;
}

.clean-mode {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 5px 15px #0000001A;

    padding: 18px;
}

.top-mode {
    background-color: #1C1C1C;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 5px 15px #0000001A;

    padding: 22px;
}

/* Box News */
.box-news {
    max-width: 786px;
    grid-area: box-news;
}

.tag-area {
    margin: 34px 0px;
}

.tag-area>a {
    margin: 0px 12px;
    padding: 8px 18px;

    border: 1px solid #E51D35;
    border-radius: 6px;
}

.box-more-in>ul {
    max-width: 100%;

    list-style: none;
    margin: 34px 0px;
}

.more-in-title {
    margin-bottom: 34px;
}

.more-in-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.more-in-articles>article {
    position: relative;
}

.more-in-articles>article>figure {
    z-index: -1;
    position: relative;
}

.more-in-articles>article>figure>img {
    object-fit: cover;
    border-radius: 6px;
}

.more-in-articles-menu,
.more-in-articles-text {
    position: absolute;
}

.more-in-articles-menu {
    z-index: 1;
    top: 12px;
    left: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90px;
    height: 28px;
    padding: 0px 10px;

    background: #1d1c1dcb;
    border-radius: 23px;
}

.more-in-articles-menu>button {
    border: none;
    background: none;
}

.more-in-articles-text {
    bottom: 20px;
    left: 20px;

    max-width: 206px;
}

.more-in-articles-text>a:first-child {
    display: block;

    margin-bottom: 16px;
}

.more-in-articles-text>a:first-child::before {
    content: "||";
    color: #E51D35;

    font-size: 20px;
    letter-spacing: -4px;

    margin-right: 5px;
}